/* --------------------------------------Général-------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    height: 100%;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}


/* --------------------------------------Header-------------------------------------- */
header {
    background-image: url(../img/HEADERGWEBDARK.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0% 7% 0% 7%;
}

/* --------------------------------------NavBar-------------------------------------- */
nav {
    max-height: 15vh;
}

#logo-nav {
    height: 4rem;
    padding-right: 20px;
    fill: #f0f0f0;
}



.navbar-brand h1{ 
    font-family: 'Poppins', sans-serif;
    color: #f0f0f0;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}

/*LINKS*/
.nav-link { 
    padding: 0;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}
.nav-link.collapsed {
    background-color: #000 !important;
}

#navbarNav a {
    color: #f0f0f0;
}

/*HAMBURGER*/
.navbar-toggler { 
    border: none;
    padding: 0;
}

/* --------------------------------------HERO-------------------------------------- */
.hero {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --------------------------------------Titre Section-------------------------------------- */
.sectionTitle {
    width: 33%;
    background-color: #f0f0f0;
    /* background-image: linear-gradient(rgb(20, 20, 20), rgb(61, 61, 61)); */
    color: rgb(37, 37, 37);
    padding: 10px;
    /* border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;  */
}

/* --------------------------------------Projets-------------------------------------- */
.projet { 
    padding: 5% 7%;
}

.carteRow {
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 10% 0%;
} 


.projetImage img {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;   
}

.projetText {
    background-color: #f0f0f0;
    height: fit-content;
    padding: 15px 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;   
}

.projetText h3{
    margin-bottom: 10px;
}

.topRight i{
    color: rgb(20, 20, 20);
    margin: 0 5px;
    cursor: pointer;
}



.fa-github:hover {
    color: rgb(51, 51, 51);
}

.topDemo {
    padding: 3px 15px;
    border: none;
    border-radius: 15px;
    background-color: rgb(20, 20, 20);
    color: #f0f0f0;
}
.topDemo:hover {
    background-color: rgb(51, 51, 51);
}

ul {
    columns: 2;
}

li {
    list-style-type: none;
}

/* --------------------------------------Curriculum-------------------------------------- */
.curriculum {
    padding: 5% 7% 5% 7%;
    background-color: #f0f0f0;
}

.titleCv h2{
    margin: 20px 0;
    color: black;
}

#presentation {
    padding: 15px 10px;
}

.education {
    padding: 10px;
    margin-bottom: 3%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 15px;
}

.lieuCv, .positionCv {
    color: rgb(112, 112, 112);
    margin-bottom: 5px;
}

.anneeCv {
    width: fit-content;
    background-color: grey;
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.contactCv {
    margin-bottom: 5px;
}

.icon-coordo {
    color: rgb(39, 39, 39);
}

/*-----------------------------FOOTER-----------------------------*/
footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 3% 7% 3% 7%;
}

.logoFooter svg {
    height: 12vh;
}

.nomFooter h1{
    font-size: 1.3rem;
    color: #f0f0f0;
}

#email, #tel {
    color: #f0f0f0;
}
.iconsFooter {
    width: 100;
    display: flex;
}

footer .fa-linkedin, .fa-github {
    color: #f0f0f0;
    margin: 0px 5px;
}
footer .fa-linkedin, .fa-github:hover { /*Pour régler le problème du hover non désirer sur le github logo*/
    color: #f0f0f0;
}

.copyFooter p{
    color: #f0f0f0;
    margin-bottom: 5px;
}

svg {
    fill: #f0f0f0;
}

/* --------------------------------------Media-------------------------------------- */
@media screen and (max-width: 1200px) {
    header {
        background-image: url(../img/HeaderXS.jpg);
    }
    #logoHead {
        height: 45vh;
    }

    .projet { 
        padding: 50px 80px;
    }

    .projetImage img {
        margin-bottom: 5%;
    }

    .projetText {
        padding: 10px 7px;
        margin-bottom: 7%;    
    }

    .titleHead h1 {
        font-size: 5rem;
    }
    
    .titleHead P {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 992px) {
    header {
        height: 100vh;
    }
    .titleHead {
        margin-top: 25px;
        text-align: center;
        align-items: center;
    }

    .titleHead h1 {
        font-size: 4rem;
    }

    .titleHead P {
        font-size: 1rem;
    }
    #logoHead {
        height: 33vh;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 100vh;
        
    }
    nav.navbar li{
        background-color: rgba(0, 0, 0, 0.65);
      }
    .projet { 
        padding: 5% 4%;
    }

    #logoHead {
        height: 30vh;
    }

    .titleHead h1 {
        font-size: 3.5rem;
    }

    .titleHead p {
        font-size: 1rem;
    }
    .sectionTitle {
        width: fit-content;
        font-size: 2rem;
    }
}

@media screen and (max-width: 576px) {
    header {
        height: 70vh;
    }
    #logoHead {
        height: 25vh;
    }
    
    .titleHead h1 {
        font-size: 2.5rem;
    }

    .titleHead p {
        font-size: 0.8rem;
    }

    footer{
        height: 45vh;
    }

    #logoFoot {
        height: 8vh;
    }
}

@media screen and (max-width: 370px) {
    header {
        height: 70vh;
    }
    #logoHead {
        height: 18vh;
    }

    .titleHead h1 {
        font-size: 2.1rem;
    }
    .sectionTitle {
        font-size: 1.6rem;
    }
}